@import "tailwindcss";
@import "@/assets/css/icons-minecraft-215.css";

@font-face {
    font-family: "Monocraft";
    src: url("/src/assets/fonts/Monocraft.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Minecraft";
    src: url("/src/assets/fonts/Minecraft.ttf") format("truetype");
}

@theme static {
    --color-mcInventoryBackground: #c6c6c6;
    --color-mcInventoryText: #3f3f3f;
    --color-mcSlotBackground: #8b8b8b;
    --color-mcSlotText: #fffffe;
    --color-mcSlotBackgroundHover: #c4c4c4;
    --color-mcSlotPlaceholder: #192022;
}

@layer utilities {
    .mc-text-shadow {
        text-shadow: 2px 2px 0px rgba(29, 29, 29, 0.9);
    }
}

@layer components {
    .item-slot {
        border: solid 4px transparent;
        border-image: url("/gui/mc-slot-border-transparent.png") 8 round;
        background-color: var(--color-mcSlotBackground);
        color: var(--color-mcSlotText);
        letter-spacing: -0.5px;
        @apply aspect-square;
        @apply size-12;
    }

    .item-slot:hover {
        background-color: var(--color-mcSlotBackgroundHover);
    }

    .inventory-border {
        border: solid 16px transparent;
        border-image: url("/gui/mc-inventory-border.png") 30 fill round;
    }

    .tooltip-border {
        border: solid 4px transparent;
        border-image: url("/gui/mc-tooltip-border.png") 30 fill stretch;
    }
}

:root {
    font-family: "Monocraft", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: medium;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url("/textures/cursors/customcursor.png"), default;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: 1.25rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: url("/textures/cursors/customcursor_cross.png"), pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
